/* Universal Styles */

* {
  font-family: Arial, sans-serif;
}
 
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75); 
}

a:hover, a:active {
  color: #222;
  text-decoration: underline;
}



/* General Nav Styles */

nav, footer {
  font-size: 13px;
}



/* Top Nav Styles */

nav {
  padding: 23px 25px;
}

.grid-nav {
  display: grid;
  grid-template-columns: 52px 60px minmax(150px, 3fr) 49px 56px 50px 77px;
}

.boxes {
  margin-top: -8px;
}

.user-notification {
  margin-top: -17px;
}



/* Main Content Styles */

main div {
  text-align: center;
}

.logo {
  margin-top: 115px;
}

#search {
  border: 1px solid #DDD;
  border-radius: 2px;
  box-shadow: 0px 3px 8px #CCC;
  height: 45px; width: 485px;
  margin: 23px 0 0 -20px;
  padding: 0 10px;
}

#mic {
  margin-left: -40px;
  vertical-align: middle;
}

.buttons {
  margin-top: 30px;
}

.buttons button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 2px;
  color: #777;
  font-weight: bold;
  height: 37px;
  margin: 0px 2px;
  padding: 5px 16px;
}

.language-change {
  margin-top: 30px;
  font-size: 13px;
}

.language-change a {
  color: #1a0dab;
  display: inline-block;
  margin: 0 2px;
}



/* Footer Styles */

footer {
  background: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer div {
  vertical-align: middle;
  padding: 12px 29px;
  border: 1px solid #e4e4e4;
}

.region {
  color: rgba(0, 0, 0, 0.54); 
}

.region {
  font-size: 15px;
}

.footer-nav ul {
  display: grid;
  grid-template-columns: 91px 100px minmax(150px, 4fr) 71px 62px 47px;
}

.footer-nav a {
 color: rgba(0, 0, 0, 0.68);
}